.wrapper {
    background-color: var(--color-dark1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5% 5% 5%;
    width: 100%;
    gap: 100px
}

.circleFOrDP {
    border: 1px solid var(--color-light);
    background-color: var(--color-light);
    border-radius: 50%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid var(--color-light);
    border-radius: 14px;
    width: 20vw;
    padding: 2%;
}

.card:nth-child(2) {
    background-color: var(--color-primary);
    filter: brightness(100%);
}

.mainHeading {
    font-size: 1.5rem;
    font-weight: 600;
}

.sub_heading {
    font-size: 1rem;
    padding-bottom: 2%;
}