.wrapper {
    background-color: var(--color-dark1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 5% 5% 5%;
    width: 100%;
}

.circleFOrDP {
    border: 1px solid var(--color-light);
    background-color: var(--color-light);
    border-radius: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid var(--color-light);
    border-radius: 4%;
    width: 20vw;
    height: 50Vh;
    padding: 2%;
}

.card:nth-child(2) {
    background-color: var(--color-secondChild);
    filter: brightness(100%);
}

.mainHeading {
    font-size: 1.5rem;
    font-weight: 600;
}

.sub_heading {
    font-size: 1rem;
    padding-bottom: 2%;
}

.content {
    opacity: 30%;
    font-size: 1rem;
    padding-top: 2%;
}